<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="row">
      <div class="mx-auto">
        <img src="./assets/images/logo.jpg" class="img-responsive" style="max-height:300px;padding-bottom:50px" />
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-4" style="width: 200px;">

        <div class="text-center">
          <a target="_blank" href="https://blog.angularindepth.com/ngrx-tips-tricks-69feb20a42a7">NgRx: tips & tricks</a>
        </div>
        <div class="text-center">
          <a target="_blank" href="https://medium.com/ngrx/announcing-the-release-of-ngrx-6-new-projects-and-looking-ahead-5fc30bed260b">Announcing
            the Release of NgRx 6, New Projects, and Looking Ahead</a>
        </div>
      </div>
      <div class="col-4" style="width: 200px;">
        <div class="text-center">
          <a target="_blank" href="https://medium.com/@amcdnl/reducing-the-boilerplate-with-ngrx-actions-8de42a190aac">Reducing
            the boilerplate with NGRX-Actions</a>
        </div>
        <div class="text-center">
          <a target="_blank" href="https://github.com/tomastrajan/angular-ngrx-material-starter">angular-ngrx-material-starter</a>
        </div>
      </div>
    </div>
  </div>
</div>